body{
    font-family: 'Poppins', sans-serif;

}




.parent-container{
    background-color: hsl(0, 100%, 74%);
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 90px;
    width: 68%;
    background-image: url(https://raw.githubusercontent.com/chilara/medie-query-Zuri-task/gh-pages/img/bg-intro-desktop.png);



}



.learn{
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;

}



.see{
    line-height: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: small;
}




.first-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    height: 1px;
    margin-top: 17%;


    
    
}



.second-container{
    margin-right: 37%;

}






 .white-container{
     display: flex;
     flex-direction: column;
     align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    width: 180%;





}





.blue-container{
    background-color: hsl(248, 32%, 49%);
    width: 226%;
    border-radius: 10px;
    color: #ffffff;
    padding: 0.1px;  
    margin-bottom: 10%;
}




.name{
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #1e1e1e;
    padding: 13px;
    width: 100%;
}


.button{
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    padding: 20px;
    width: 107%;
    border-style: none;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: smaller;
    cursor: pointer;
}



.by{
    color: hsl(246, 25%, 77%);
    font-size: small;
    font-weight: 400;
    text-align: center;

}


   

.try-it{
    font-size: small;
    text-align: center;
}



.then{
    color: hsl(246, 25%, 77%);

}


  
/* MEDIA QUERY*/


@media screen and (max-width: 375px) {


    .parent-container{
        background-color: hsl(0, 100%, 74%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40%;
        width: 100%;
        background-image: url(https://raw.githubusercontent.com/chilara/medie-query-Zuri-task/gh-pages/img/bg-intro-mobile.png);
    
    
    
    }



    .first-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 40%;
        margin-top: 8%;
    
    
        
        
    }

   
    
    
    
    
    
    
     .white-container{
         display: flex;
         flex-direction: column;
         align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 50px;
        width: 180%;
    
    
    
    
    
    }
    
    
    
    
    
    .blue-container{
        background-color: hsl(248, 32%, 49%);
        width: 126%;
        border-radius: 10px;
        color: #ffffff;
        padding: 0.1px;  
        margin-bottom: 10%;
        margin-left: 20%;
    }



    .learn{
        font-weight: 700;
        color: #ffffff;
        font-size: 30px;
    
    }
    
    
    
    .see{
        line-height: 25px;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 16px;
        text-align: center;
    }
    


    
.try-it{
    font-size: small;
    text-align: center;
    
}


.white-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
   background-color: #ffffff;
   border-radius: 10px;
   padding: 25px;
   width: 130%;
   margin-left: 14px;



}


.name{
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #1e1e1e;
    padding: 18px;
    width: 90%;
}


.button{
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    padding: 20px;
    width: 103%;
    border-style: none;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: smaller;
    cursor: pointer;
}





    
}