body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.parent-container {
  background-color: hsl(0, 100%, 74%);
  display: flex;
  padding: 30px 0 30px 90px;
  width: 68%;
  background-image: url(https://raw.githubusercontent.com/chilara/medie-query-Zuri-task/gh-pages/img/bg-intro-desktop.png);
}

.learn {
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
}

.see {
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: small;
}

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  height: 1px;
  margin-top: 17%;
}

.second-container {
  margin-right: 4%;
  width: 120%;
}

.white-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
}

.blue-container {
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  color: #ffffff;
  padding: 1px;
  margin-bottom: 10%;
}

.name {
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #1e1e1e;
  padding: 13px;
  margin-bottom: 2px;
  width: 100%;
}

input {
  border: none;
}

.error {
  margin-bottom: 20px;
  align-self: flex-end;
  color: red;
  font-size: 12px;
}

.name > img {
  position: absolute;
  display: none;
  right: 32%;
}

.name > input {
  padding-left: 2px;
  outline: none;
  width: 89%;
}

.button {
  background-color: hsl(154, 48%, 36%);
  color: #ffffff;
  padding: 13px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-size: smaller;
  cursor: pointer;
  border: 1px solid hsl(154, 48%, 36%);
}

.by {
  color: hsl(246, 25%, 77%);
  font-size: small;
  font-weight: 400;
  text-align: center;
}

.try-it {
  font-size: small;
  text-align: center;
}

.then {
  color: hsl(246, 25%, 77%);
}

@media screen and (max-width: 375px) {
  body {
    margin: 0px;
    background-image: url(https://raw.githubusercontent.com/chilara/medie-query-Zuri-task/gh-pages/img/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
  }
  .name > img {
    position: absolute;
    right: 21%;
  }
  .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    align-items: center;
  }

  .second-container {
    width: 100%;
    margin: 0%;
    margin-right: 30%;
  }

  .first-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 30%;
    align-items: center;
    text-align: center;
    margin-bottom: 79%;
    margin-top: 89%;
  }

  .white-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
  }

  .blue-container {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 10%;
  }

  .learn {
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
  }

  .see {
    line-height: 25px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 16px;
    text-align: center;
  }

  .try-it {
    font-size: small;
    text-align: center;
  }

  .name {
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #1e1e1e;
    padding: 18px;
  }

  input {
    border: none;
  }

  .button {
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    padding: 20px;
    border-style: none;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: smaller;
    cursor: pointer;
  }
}
